.editor-styles-wrapper {
    &.block-editor-writing-flow {
        //入力エリア内側の定義
        font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
        width: auto;
        height: auto !important;
        width: 100%;
        max-width: 950px;
        background-color: white;
        margin: 20px auto;
        padding: 25px 0 100px;

        //タイトル系の定義
        h1 {

            &::before {
                position: absolute;
                top: -55px;
                content:'※プレビュー機能を使う場合は、必ず先にカテゴリーを設定して下さい。\A※ブロック内で改行する場合は[shift]を押しながら[enter]を押して下さい。';
                color: red;
                font-size: 18px;
                white-space: pre;
                @media screen and (max-width: 1100px) {
                    font-size: 16px;
                }
                @media screen and (max-width: 900px) {
                    font-size: 14px;
                }
            }
    
        }
        h2 {

        }
        h3 {

        }
        h4 {

        }

        h1 , h2 , h3 , h4 {
            border: solid 1px #333;
            padding: 10px;
        }

        //リストの定義
        ul {
            li {

            }
        }
        ol {
            li {

            }
        }

        //テーブルの定義
        .wp-block-table {
            width: 100%;
            max-width: 900px;
            table{
                tbody {
                    tr {
                        td {
                        }
                    }
                    td {
                    }
                }
            }
        }

        //通常の文章とリンクの定義
        p {
            border: 1px solid #333;
            padding: 10px;

            a {
                //リンクの定義
                text-decoration: none;
            }
        }

        .interview_text {
            &::before {
                position: absolute;
                top: 18px;
                content:'※画像が無い場合は入力しないでください。\A　下記の[画像がない場合の...]ブロックに入力してください。';
                color: red;
                white-space: pre;
                font-size: 16px;
                @media screen and (max-width: 1300px) {
                    font-size: 14px;
                }
                @media screen and (max-width: 1200px) {
                    font-size: 12px;
                }
                @media screen and (max-width: 1100px) {
                    font-size: 11px;
                }
                @media screen and (max-width: 600px) {
                    top: 280px;
                    font-size: 12px;
                }
            }   
        }
        .review_gallery {
            &::before {
                position: absolute;
                top: -25px;
                content:'※ギャラリー画像は3枚以上登録しないでください。';
                color: red;
            }
        }

        .no_image_text {
            border: 1px dashed #333;
        }

        .wp-block-spacer {
            background-color: #abb8c3;
            
            &::before {
                position: absolute;
                content: 'スペーサー';
                color: #ffffff;
                top: 40%;
                left: 45%;
            }
        }
        

    }

}

.wp-block {
    max-width: 900px;
}


.wp-block-image { //imgを囲うボックス

    .components-resizable-box__container {
        height: auto !important; //画像をリサイズしたときに必要
        max-width: 100% !important; //画像をリサイズしたときに必要
    }
    img { //imgの定義

    }
}

.editor-post-title__block {
    .editor-post-title__input { //メインタイトルの定義

    }
}

.edit-post-visual-editor__post-title-wrapper .editor-post-title {
    margin: 0 auto; //メインタイトル周りの余白の定義
}